<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>WalgsChat - Congratulation</title>
    <link rel="stylesheet" type="text/css" href="./css/accountcreated.css"/>
  </head>
  <body>
    <div id="grid">
      <h1>Congratulations <%=name %> on creating an account on WalgsChat!</h1>
      <h4>Log in here to get started with the WalgsChat experience</h4>
      <% include partials/loginTemplate.ejs %>
    </div>
  </body>
</html>
