<html>
  <head>
    <title>WalgsChat - Login</title>
    <link rel="stylesheet" type="text/css" href="./css/loginprompt.css"/>
  </head>
  <body>
    <div id="grid">
      <h1>WalgsChat</h1>
      <h4>A better way to chat</h4>
      <p id='prompt'><%= prompt %></p>
      <% include partials/loginTemplate.ejs %>
      <a href="/createaccount">Don't have an account?....Create One Here</a>
    </div>
  </body>
