<html>
  <head>
    <title>WalgsChat - Login</title>
    <link rel="stylesheet" type="text/css" href="./css/login.css"/>
  </head>
  <body>
    <div id="grid">
      <h1>WalgsChat</h1>
      <h4>A better way to chat</h4>
      <form method="post" action="/login">
        <input type="email" name="email" placeholder="Enter Your Username" />
        <input type="password" name="password" placeholder="Enter Your Password" />
        <input type="submit" value="Submit"/>
      </form>
      <a href="/createaccount">Don't have an account?....Create One Here</a>
  </div>
  </body>
</html>
