<html>
  <head>
    <title>WalgsChat - Login</title>
  </head>
  <body>
    <form method="post" action="/login">
      <input type="email" name="email" placeholder="Enter Your Username Here" />
      <input type="password" name="password" placeholder="Enter Your Password Here" />
      <input type="submit" value="Submit"/>
    </form>
    <a href="/createaccount">Don't have an account?....Create One Here</a>
  </body>
</html>
