<html>
  <head>
    <title>WalgsChat - Create Account</title>
    <link rel="stylesheet" type="text/css" href="./css/createaccountprompt.css" />
  </head>
  <body>
    <div id="grid">
      <% include partials/createaccounttemplate.ejs %>
    </div>
  </body>
</html>
