body{
  text-align: center;
}

#grid{
  display: grid;
  grid-template-areas:
  "title title title"
  "dir dir dir"
  "form form form"
}

h1{
  grid-area: title;
  margin-top: 5%;
}

h4{
  grid-area: dir
}

form{
  border: solid black 1px;
  padding: 5%;
  /*grid-column: 2/3;*/
  justify-self: center;
  align-self: center;
  grid-area: form;
}

form > * {
  display: block;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 10%;
  border-radius: 12px;
}
